Source:         pg-store-plans-12
Section:        custom
Priority:       optional
Maintainer:     NTT OSS Center DBMS Development and Support Team
Standards-Version: 1.0

Package:        pg-store-plans-12
Architecture:   amd64
Section:        database
Depends: libc6 (>= 2.7), postgresql-12 , llvm-6.0, llvm-6.0-dev, llvm-6.0-runtime
Description:    Record executed plans on PostgreSQL 12
